*{
	margin:0;
	padding: 0;
	font-size: 14px;
	font-family: '微软雅黑';
}
#checkable{
	display: none;
	text-align: left;
	border:1px solid #999;
	min-width: 120px;
	min-height: 150px;
	max-height: 300px;
	overflow: scroll;
	/*设置树状组件的最小宽度*/
}
.tri{
	display: inline-block;
	width: 16px;
	height: 9px;
	background: url(../lib/imgs/lineW.png) no-repeat center;
}
.tri.hasChildren{
	background: url(../lib/imgs/triRight.png) no-repeat;
}
.tri.hasChildren.open{
	background: url(../lib/imgs/triTop.png) no-repeat;
}
.doc{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../lib/imgs/p3.png) no-repeat;
}
.doc.hasChildren{
	background: url(../lib/imgs/p1.png) no-repeat;
}
.doc.hasChildren.open{
	background:  url(../lib/imgs/p2.png) no-repeat;
}
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
}
li{
	padding-top: 0.5em;
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}
li.radiobox{
	background: url(../lib/imgs/line.png) repeat-y;
}
.checkbox,li,.rootChildren{
	cursor: pointer;
}
ul.rootChildren{
	display: none;
}
.checkbox{
	vertical-align: middle;
	padding: 0;
	margin:0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 2px;
	display: inline-block;
}
.checkbox.ok{
	background: url(../lib/imgs/ok.png) no-repeat center;
	background-size: 80%;
}
.root span,.root i{
	vertical-align: middle;
}
.root span{
	margin-left: 5px;
}
.ui-widget input{
	font-family: '微软雅黑';
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}
.root.on{
	font-weight: bold;
}