*{
	font-family: '微软雅黑'
}
a {
    transition:color 100ms ease-in-out;
    -o-transition:color 100ms ease-in-out;
    -ms-transition:color 100ms ease-in-out;
    -moz-transition:color 100ms ease-in-out;
    -webkit-transition:color 100ms ease-in-out
}
.f-s-12 {
    font-size:12px!important
}
.f-s-14{
	font-size:14px!important;
}
.f-s-16 {
    font-size:16px!important
}
.f-w-600 {
    font-weight:600!important
}
.p-l-30 {
    padding-left:30px!important
}
.p-l-40 {
    padding-left:40px!important
}
.m-l-5 {
    margin-left:5px!important
}
.m-t-10 {
    margin-top:10px!important
}
.m-t-20 {
    margin-top:20px!important
}
.m-b-15 {
    margin-bottom:15px!important
}
.btn.btn-default {
    color:#fff;
}
.form-control{
	 border:1px solid #ccd0d4;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:12px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px
}
.form-control.input-white {
    background:#fff;
    border-color:#fff
}
.form-control.input-white:focus {
    box-shadow:none;
    -webkit-box-shadow:none
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    background:#e5e9ed;
    opacity:.6;
    filter:alpha(opacity=60)
}
.form-control[disabled]:focus,.form-control[readonly]:focus,fieldset[disabled] .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border:1px solid #ccd0d4
}
.form-control:focus {
    border-color:#9fa2a5;
    -webkit-box-shadow:none;
    box-shadow:none
}
.form-control.input-inline {
    display:inline;
    width:auto;
    padding:0 7px
}

.clearfix:after{
	clear: both;
	content: '';
	display: block;
}
.clearfix{
	zoom:1;
}

/*
	全局
*/
.saveInfo{
	display: none;
	z-index: 99999;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #66639c;
	text-align: center;
	text-indent: 5px;
	background: #e8eaf7;
	box-shadow: 4px 4px 4px #f6f7fb;
	border-radius: 3px;
	-webkit-border-radius:3px;
	position: absolute;
	top: 200px;
	right: 200px;
}
.sourceDataSetting .modal-dialog{
	width: 720px;
	height: 480px;
}
#sourceDataSetting2 .modal-dialog{
	width: 78%;
}
.sourceDataSetting .modal-content{
	border-radius: 10px;
	-webkit-border-radius:10px;
}
/*
	引导圆圈
*/
.sourceDataSetting .modal-guide{
	position: relative;
	text-align: center;
	color: #fff;
}
.sourceDataSetting .modal-guide .circle{
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 25px;
	font-weight: bold;
}
#sourceDataSetting1 .modal-guide .page2 .circle{
	background: #fff;
	color: #000;
}
.sourceDataSetting .modal-guide>div{
	display: inline-block;
}
#sourceDataSetting1 .modal-guide .page2,#sourceDataSetting2 .modal-guide .page1{
	cursor: pointer;
}
.sourceDataSetting .modal-guide .line{
	width: 146px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -73px;
	padding-left: 100px;
}
#sourceDataSetting2 .modal-guide .line{
	background: #7e85e3;
}
.sourceDataSetting .page1{
	margin-right: 95px;
}
/*
	头部
*/
.sourceDataSetting .modal-header{
	padding-left: 45px;
	padding-top: 20px;
	border-bottom: 0 none;
}
#sourceDataSetting1 .modal-header{
	background: url(../lib/imgs/bgFlower1.png) no-repeat top right;
}
#sourceDataSetting2 .modal-header{
	background: url(../lib/imgs/bgFlower2.png) no-repeat top right;
}
.sourceDataSetting .modal-header h5{
	color: #666;
}
.sourceDataSetting .circle{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	-webkit-border-radius:50%;
	background: #7e85e3;
	color: #fff;
}	
.sourceDataSetting .modal-title{
	color: #7e85e3;
}

/*
	内容
*/
#sourceDataSetting1 .required.error{
	border: 1px solid red;
}
.sourceDataSetting .form-group{
	width: 45%;
	display: inline-block;
}
.sourceDataSetting  .first,.sourceDataSetting .last{
	width: 94%;
}
.sourceDataSetting input,.sourceDataSetting select{
	border: none 0;
	outline: none;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 0px;
	-webkit-border-radius:0px;
	font-size: 14px;
}
#sourceDataSetting2 .modal-body,#sourceDataSetting2 iframe{
	width: 96%;
	height: 300px;
	margin: 0 2%;
	padding: 0;
}
/*
	新自定义下拉框
*/
.selection{
	width: 100%;
	position: relative;
}
.selection input{
	text-indent: 15px;
	color: #999;
	height: 30px;
	width: 100%;
	border:0 none;
	outline: none;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	text-align: left;
	background: url(../lib/imgs/selectTri.png) no-repeat 96% center;
}
.selection li,.selection ul{
	font-size:14px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
.selection li{
	min-height: 30px;
	line-height: 30px;
}
.selection li:hover{
	background: #eee;
}
.selection ul{
	display: none;
	border: 1px solid #eee;
}
.selection ul.on{
	display: block;
}
/*
	底部
*/
.sourceDataSetting .modal-footer{
	background: #f5f4fa;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius:10px;
	height: 70px;
	padding: 15px 0 15px 0;
}
.sourceDataSetting .done,.sourceDataSetting .next{
	width: 80px;
	border-radius: 4px;
	-webkit-border-radius:4px;
}
.sourceDataSetting .done,.sourceDataSetting .before{
	color: #818181;
	background: #fff;
}
.sourceDataSetting .activeBtn{
	color: #fff;
	background: #7e85e3;
}