*{
	font-family: '微软雅黑';
	padding: 0;
	margin: 0;
	text-align: center;
}
html,body{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
}
tr,td,th{
	/*height: 50px;*/
	line-height: 50px;
	font-size: 14px;
	text-align: center;
}

a:hover{
	text-decoration: none;
}
.table-responsive{
	height: 100%;
	border: 0 none;
}
.table > tbody > tr > td{
	padding: 8px;
	margin:10px;
	vertical-align: middle;
}
.table >tbody >tr:last-child{
	border-bottom: 1px solid #eee;
}
table .w-1{
	width: 10%;
}
table .w-15{
	width: 15%;
}

table .w-6{
	width: 60%;
}
table .first{
	cursor: move;
}
table .con{
	height: 34px;
}
table .con.error{
	border:1px solid red;
	outline: none;
}
.mCSB_inside > .mCSB_container{
	margin-right: 10px;
}
table div{
	line-height: 34px;
}
table div.editable{
	background: #fff;
	border-radius: 2px;
	-webkit-border-radius:2px; 
}
table .check{
	height: 34px;
	cursor: pointer;
}
.table > tbody >tr>td.des{
	padding-right: 30px;
	position: relative;
}
table .des .circle{
	display: none;
	position: absolute;
	right: 3px;
	top:35%;
	background: #999;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	color: #fff;
	border-radius: 50%;
	-webkit-border-radius:50%;
	font-size: 12px;
}

table .des .circle.on{
	display: block;
}
table .des div{
	min-height: 34px;
}
table .pointer i{
	display: none;
}
table .on i{
	display: inline-block;
}
/*
	新自定义下拉框
*/
.selection .dropdown-menu{
	min-width: 0px;
}
.selection{
	width: 100%;
	position: relative;
}
.selection input{
	height: 34px;
	width: 95%;
	border:0 none;
	outline: none;
	background: transparent;
	display: inline-block;
	text-align: center;	
}
.editable .selection input{
	background: transparent url(../lib/imgs/selectTri.png) no-repeat 99% center;
	padding-right: 14%;
	text-indent: 15%;
	background-size: 8px;
}
.selection li,.selection ul{
	font-size: 14px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
.selection li{
	height: 30px;
	line-height: 30px;
}
.selection li:hover{
	background: #eee;
}
.selection ul{
	display: none;
	border: 1px solid #eee;
}
.selection ul.on{
	display: block;
}
#mCSB_1_container{
	padding-bottom: 30%;
}